---
import Proyectos from '@/components/Proyectos.astro';
import Layout from '../layouts/Layout.astro';
import SobreMi from '@/components/SobreMi.astro';
import Habilidades from '@/components/Habilidades.astro';
---

<Layout title="Bienvenido a mi portfolio">
	<main>
		<SobreMi />
		<Proyectos />
		<Habilidades />
	</main>
</Layout>

<style>
	main {
		margin: 0 auto;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		color: black;
	}
</style>
