---
import categories from '../json/categories.json';
import skills from '../json/skills.json'


---

<section id="habilidades" class="py-20 lg:py-32 bg-white dark:bg-gray-900">
  <div class="container mx-auto px-6 lg:px-12 xl:px-20 max-w-7xl">
    <h2 class="text-3xl md:text-4xl font-bold mb-12 text-center reveal dark:text-white">
      Mis <span class="text-[#4CA5EC]">Habilidades</span>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-16">
      {categories.map((category) => (
        <div class="reveal">
          <h3 class="text-xl font-semibold mb-6 text-gray-800 dark:text-gray-200">{category.name}</h3>
          <div class="space-y-6">
            {skills
              .filter((skill) => skill.category === category.id)
              .map((skill) => (
                <div>
                  <div class="flex justify-between mb-2">
                    <span class="font-medium text-gray-700 dark:text-gray-300">{skill.name}</span>
                    <span class="text-gray-500 dark:text-gray-400">{skill.level}%</span>
                  </div>
                  <div class="skill-bar">
                    <div class="skill-progress" data-level={skill.level}></div>
                  </div>
                </div>
              ))}
          </div>
        </div>
      ))}
    </div>
  </div>
</section>
