---
import { Image } from "astro:assets";
import imgDni from '@/multimedia/imagenes/imagendni-1-min.jpg';
---

<section>
  <article>
    <h1>Hola, soy Juan Manuel</h1>
    <p>+ 14 meses de experiencia laboral y 3 meses de experiencia en el sector. Graduado en desarrollo de aplicaciones web y buscando trabajo.</p>
  </article>
  <article>
    <Image src={imgDni} alt="Imagen tipo DNI">
  </article>
  <article>
    <p>622 67 12 51</p>
    <p>juanmi_4000@hotmail.es</p>
  </article>
</section>


<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(17, 24, 39);
    color: white;
    padding-top: 40px;
    & > * {
      width: 90%;
      margin: 0 auto;
    }
    & > article:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;
    }
    & > article:last-child {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2%;
      width: 80%;
    }
  }
  img {
    border-radius: 50%;
    width: 200px;
    height: auto;
  }
  h1 {
    font-size: xx-large;
  }

  @media screen and (min-width: 1024px) {
    article {
      max-width: 700px;
      margin: 0 auto;
    }
    section > article:last-child {
      flex-direction: row;
      width: 30%;
    }
  }
</style>